<%- include("partials/navbar") %>
    <!-- slider section -->

    <section class="slider_section">
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
              01
            </li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">
              02
            </li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">
              03
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 px-0">
                    <div class="img-box">
                      <img src="images/slider-img.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1 style="size: 2rem;">
                        Hyper
                        <br />
                        Developers
                      </h1>
                      <p>
                        We are here to Create your Website
                      </p>
                      <a href="/contact">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 px-0">
                    <div class="img-box">
                      <img src="images/slider-img.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        Know 
                        <br />
                        About Us
                      </h1>
                      <p>
                        Hyper Developers a web develpment Service providers....
                      </p>
                      <a href="/about">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 px-0">
                    <div class="img-box">
                      <img src="images/slider-img.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        Our 
                        <br />
                        Services
                      </h1>
                      <p>
                        We provide Different types of Web development Services.....
                      </p>
                      <a href="/service">
                        services
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel_btn-box">
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
            </a>
            <img src="images/line.png" alt="" />
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- end slider section -->
  </div>
  <!-- end hero area -->

  <!-- service section -->

  <%- include("partials/servicePartial") %>
  <!-- end service section -->

  <!-- portfolio section -->


  <!-- <%- include("partials/portfolioPartial") %> -->

  <!-- end portfolio section -->

  <!-- logo section -->

  <section class="logo_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          A <span>Best</span> Logo <br>
          FOR YOUR COMPANY
        </h2>
        <p>
          We will design you the best logos for your company to attract the customers
        </p>
      </div>
    </div>
    <div class="logo_container layout_padding">
      <div class="carousel-wrap">
        <div class="owl-carousel">
          <div class="item">
            <div class="box  b1">
              <div class="img-box">
                <img src="images/logo.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Hyper Developers
                </h4>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box b2">
              <div class="img-box">
                <img src="images/learnCourseLogo.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  LearnCourses
                </h4>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box  b1">
              <div class="img-box">
                <img src="images/urbookLogo.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  urBook
                </h4>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box b2">
              <div class="img-box">
                <img src="images/anandSuryaLogo.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Anand Surya
                </h4>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box  b1">
              <div class="img-box">
                <img src="images/AbhishekMusicalsLogo.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Abhishek Musicals
                </h4>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box b2">
              <div class="img-box">
                <img src="images/RATER_LOGO.png" alt="">
              </div>
              <div class="detail-box">
                <h4 class="pt-3">
                  RATER TECHNOLOGIES PVT. LTD.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end logo section -->


  <!-- started section -->

  <section class="started_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Let's <span>Get</span> Started <br>
                With Your Project
              </h2>
              <p>
              Get in touch with us we will make it possible </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-md-1">
          <div class="btn-box">
            <a href="/contact">
              Let’s talk
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end started section -->

  <!-- agency section -->

  
<%- include("partials/aboutPartial") %>


  <!-- end agency section -->


  <!-- contact section -->

  <%- include("partials/contactPartial") %>
  <!-- end contact section -->

 

  <%- include("partials/footer") %>